@keyframes rotate {
  0% {
    transform: translateY(0);
  }
  16.5% {
    transform: translateY(-100%);
  }
  33% {
    transform: translateY(-100%);
  }
  49.5% {
    transform: translateY(-200%);
  }
  66% {
    transform: translateY(-200%);
  }
  82.5% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(-300%);
  }
}

.home-wrapper {
  padding: 2rem;
  overflow-y: auto;
  height: calc(100vh - 7.8rem);
}

.cont-category {
  position: relative;
}

.cont-category + .cont-category {
  margin-top: 2.2rem;
}

.tit-category {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.cont-album {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 10px;
}

.cont-album-link {
  position: relative;
  width: 12rem;
}

.cont-album-link::after {
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: url(../image/icon-play-white.svg) no-repeat center / cover;
  filter: drop-shadow(0px 0px 2px rgba(53, 53, 53, 0.5));
}

.cover-album {
  width: 12rem;
  border-radius: 1rem;
}

.cont-album-link p {
  margin-left: 0.2rem;
  width: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album-title {
  margin: 0.2rem 0;
  font-weight: var(--font-700);
}

.left-scroll-button,
.right-scroll-button {
  position: absolute;
  top: 49%;
  width: 3rem;
  height: 3rem;
  background: no-repeat center/cover url("/static/image/icon-arrow.png");
}

.left-scroll-button:hover,
.right-scroll-button:hover {
  background: no-repeat center/cover url("/static/image/icon-arrow-hover.png");
}

.left-scroll-button {
  transform: rotateY(180deg) translateY(-50%);
  left: -5%;
}

.right-scroll-button {
  transform: translateY(-50%);
  right: -5%;
}

.wrapper aside {
  background: no-repeat center/cover url("/static/image/id_card.png");
  height: 14rem;
  margin-bottom: 2.2rem;
  box-shadow: rgb(0 0 0 / 16%) 0px 0px 8px;
  border-radius: 1rem;
  overflow: hidden;
}

.wrapper aside ul {
  height: 100%;
  animation: rotate 7s infinite;
  animation-delay: 2.2s;
  transition-duration: all 0.5s;
}

.wrapper aside ul:hover {
  animation-play-state: paused;
}

.member-info {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.member-profile-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.member-name {
  display: block;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.member-github,
.member-resume {
  width: 7rem;
  padding: 0.6rem 0;
  border-radius: 1rem;
  font-size: 1.1rem;
  background-color: var(--main-color);
  color: #fff;
}

.member-github + .member-resume {
  margin-left: 0.5rem;
}
