@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.play-control-wrap {
  padding: 2rem;
  height: calc(100vh - 9.2rem);
}

.play-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.4rem;
  width: 100%;
  height: 100%;
}

.play-control figure {
  width: 100%;
}

.play-control .album-title-img {
  width: 100%;
  border-radius: 1.5rem;
  object-fit: cover;
  margin: 3rem auto;
  box-shadow: rgb(0 0 0 / 16%) 0px 0px 8px;
}

.play-control .play-control-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
}

.play-control .controller {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 3rem;
}

.play-control .controller-btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.6rem;
}

.controller-btn-wrapper .controller-btns-play {
  display: flex;
  align-items: center;
  gap: 2.6rem;
}

.controller-btn-wrapper .controller-btns-play img {
  width: 100%;
}

.progress-input-wrap {
  position: relative;
  margin-top: 0.8rem;
}

input[type="range"] {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 1.2rem;
  appearance: none;
  background: transparent;
  border-radius: 2rem;
  z-index: 1;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: white;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 0;
  height: 0.8rem;
  background: var(--main-color);
  box-shadow: 1px 1px 7px var(--main-color);
  cursor: pointer;
  box-shadow: -100vw 0 0 100vw var(--main-color);
  border-radius: 50%;
}

.progress-input-effect {
  width: 100%;
  height: 1.2rem;
  position: absolute;
  top: 0;
  left: 0;
}

.progress-input-effect::before {
  content: "";
  background: linear-gradient(
    45deg,
    #fbff00,
    #73ff00,
    #00ff9d,
    #00ebeb,
    #1d77ff,
    #00ebeb,
    #00ff9d,
    #73ff00,
    #fbff00
  );
  width: calc(100% + 0.2rem);
  height: calc(100% + 0.2rem);
  position: absolute;
  top: -0.2rem;
  left: -0.2rem;
  background-size: 400%;
  filter: blur(5px);
  opacity: 0.4;
  border-radius: 50px;
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
}

.progress-bar-time {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1rem;
  color: #d9d9d9;
}

.progress-bar-time .progress-time {
  color: var(--main-color);
}

.random-button.active,
.repeat-button.active {
  filter: invert(49%) sepia(89%) saturate(1411%) hue-rotate(142deg) brightness(98%) contrast(102%);
}

.volume-control-wrapper {
  display: flex;
  align-items: center;
  width: 52%;
  gap: 1rem;
  margin-top: 6rem;
  padding: 0.8rem 1.6rem;
  border-radius: 10rem;
  background-color: white;
  box-shadow: rgb(0 0 0 / 16%) 0px 0px 6px;
}

.volume-control-wrapper img {
  width: 1.8rem;
}

.volume-control[type="range"] {
  height: 0.5rem;
} 

.volume-control[type="range"]::-webkit-slider-thumb {
  box-shadow: -100vw 0 0 100vw #77d4d0;
}

.volume-control[type="range"]::-webkit-slider-runnable-track {
  background-color: #ebebeb;
}