@import "/static/css/reset.css";
@import "/static/css/chart.css";
@import "/static/css/home.css";
@import "/static/css/myplaylist.css";
@import "/static/css/navbar.css";
@import "/static/css/playcontrol.css";
@import "/static/css/search.css";

.wrapper {
  max-width: 40rem;
  margin: 0 auto;
  height: 100vh;
  box-shadow: rgb(0 0 0 / 16%) 0px 0px 8px;
}

/* splash 시작 */
.splash-wrapper {
  background: linear-gradient(180deg, #faf9f4 0%, rgb(255, 251, 228) 25%, var(--main-color) 100%);
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  z-index: 50;
}

.logo-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.logo {
  width: 20rem;
  height: 19rem;
}

.fade-out {
  opacity: 0;
  transition : 0.5s;
}
/* splash 끝 */

/* Scroll Bar 디자인 시작*/

.cont-album::-webkit-scrollbar {
  height: 0.5rem;
}
.home-wrapper::-webkit-scrollbar,
.chart-main::-webkit-scrollbar,
.playlist-main::-webkit-scrollbar,
.searchlist-main::-webkit-scrollbar {
  width: 0.6rem;
}
.cont-album::-webkit-scrollbar-thumb,
.home-wrapper::-webkit-scrollbar-thumb,
.chart-main::-webkit-scrollbar-thumb,
.playlist-main::-webkit-scrollbar-thumb,
.searchlist-main::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--main-color);
  background-clip: padding-box;
  border: 2px solid transparent;
}
.cont-album::-webkit-scrollbar-track,
.home-wrapper::-webkit-scrollbar-track,
.chart-main::-webkit-scrollbar-track,
.playlist-main::-webkit-scrollbar-track,
.searchlist-main::-webkit-scrollbar-track {
  background-color: transparent;
}
/* Scroll Bar 디자인 끝 */
