@import "/static/css/reset.css";
@import "/static/css/navbar.css";
@import "/static/css/home.css";
@import "/static/css/chart.css";
@import "/static/css/myplaylist.css";
@import "/static/css/playcontrol.css";
@import "/static/css/search.css";
@import "/static/css/notfound.css";

@keyframes toast {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translate(0, 0);
  }
  33% {
    opacity: 1;
    visibility: visible;
    transform: translate(0, -30%);
  }
  66% {
    opacity: 1;
    visibility: visible;
    transform: translate(0, -30%);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translate(0, 0);
  }
}

body {
  height: 100vh;
  background: linear-gradient(150deg, #FFFBE4 0%, #B8EEEE 100%);
}

.wrapper {
  max-width: 40rem;
  margin: 0 auto;
  height: 100vh;
  box-shadow: rgb(0 0 0 / 16%) 0px 0px 8px;
  background-color: white;
}

/* splash 시작 */
.splash-wrapper {
  background: linear-gradient(180deg, #faf9f4 0%, rgb(255, 251, 228) 25%, var(--main-color) 100%);
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  z-index: 50;
}

.logo-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.logo {
  width: 20rem;
  height: 19rem;
}

.fade-out {
  opacity: 0;
  transition: 0.5s;
}
/* splash 끝 */

/* Scroll Bar 디자인 시작*/
.cont-album::-webkit-scrollbar {
  height: 0.5rem;
}
.home-wrapper::-webkit-scrollbar,
.chart-main::-webkit-scrollbar,
.playlist-main::-webkit-scrollbar,
.searchlist-main::-webkit-scrollbar {
  width: 0.6rem;
}
.cont-album::-webkit-scrollbar-thumb,
.home-wrapper::-webkit-scrollbar-thumb,
.chart-main::-webkit-scrollbar-thumb,
.playlist-main::-webkit-scrollbar-thumb,
.searchlist-main::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--main-color);
  background-clip: padding-box;
  border: 2px solid transparent;
}
.cont-album::-webkit-scrollbar-track,
.home-wrapper::-webkit-scrollbar-track,
.chart-main::-webkit-scrollbar-track,
.playlist-main::-webkit-scrollbar-track,
.searchlist-main::-webkit-scrollbar-track {
  background-color: transparent;
}
/* Scroll Bar 디자인 끝 */

/* Toast UI 시작 */
#toastUi {
  position: fixed;
  bottom: 9rem;
  width: 27rem;
  left: calc(50% - 13.5rem);
  padding: 0.8rem 1.8rem;
  border-radius: 5rem;
  overflow: hidden;
  font-size: 1.5rem;
  opacity: 0;
  visibility: hidden;
  background: var(--sub-color);
  border: solid 2px var(--main-color);
  z-index: 10000;
  text-align: center;
}

#toastUi.reveal {
  animation: toast 1.5s;
}
/* Toast UI 끝 */

/* Loading */
.loading {
  position: fixed;
  width: 10rem;
  height: 100vh;
  top: 0;
  left: calc(50% - 5rem);
  background: url("/static/image/loading.gif") no-repeat center / contain;
}