.tit-playlist {
  background-color: var(--main-color);
  color: #fffbe4;
  font-size: 1.4rem;
  font-weight: var(--font-700);
  text-align: center;
  padding: 1.5rem 0;
  position: sticky;
  top: 0;
}

.playlist-main {
  padding: 2rem;
  overflow-y: auto;
  height: calc(100vh - 13.2rem);
}

.playlist-item {
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 1.2rem;
}

.playlist-item + .playlist-item {
  margin-top: 1.2rem;
}

.playlist-info {
  margin-left: 0;
}
