@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");

/* Reset */
* {
  box-sizing: border-box;
}

:root {
  font-weight: 400;
  --font: "Noto Sans KR", sans-serif;
  --font-500: 500;
  --font-700: 700;
  --main-color: #04bfbf;
  --sub-color: #fffbe4;
}

html,
body,
div,
span,
h1,
h2,
h3,
p,
a,
img,
strong,
ol,
ul,
li,
fieldset,
form,
label,
legend,
article,
aside,
figure,
figcaption,
nav,
section,
audio,
input {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  vertical-align: baseline;
}

html {
  font-size: 10px;
}

.sr-only {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3 {
  font-size: 100%;
  font: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

a:visited {
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

input {
  font-family: var(--font);
  border: none;
}

input::placeholder {
  font-family: var(--font);
}

input:focus {
  outline: none;
}

img {
  display: block;
}

fieldset {
  border: none;
}
